In [145]:
import pandas as pd

In [146]:
matches = pd.read_csv("matches.csv", index_col = 0)

In [147]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,sot%,g/sh,g/sot,sot,dist,fk,pk,pkatt,season,team
1,2024-08-18,16:30,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,Chelsea,...,45.5,0.18,0.40,5.0,19.1,0.0,0,0,2025,Manchester City
2,2024-08-24,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,1.0,Ipswich Town,...,30.8,0.23,0.75,4.0,17.8,1.0,1,1,2025,Manchester City
3,2024-08-31,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,1.0,West Ham,...,34.8,0.13,0.38,8.0,15.0,1.0,0,0,2025,Manchester City
0,2024-08-17,12:30,Premier League,Matchweek 1,Sat,Away,W,2.0,0.0,Ipswich Town,...,27.8,0.11,0.40,5.0,14.8,0.0,0,0,2025,Liverpool
1,2024-08-25,16:30,Premier League,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,...,42.1,0.11,0.25,8.0,13.6,1.0,0,0,2025,Liverpool

In [148]:
matches.shape

(5380, 32)

In [149]:
38 * 20 * 2  # 1520 matches during 2 seasons of the EPL. 814 matches are missing some data"

1520

In [150]:
# handle missing data (3 teams are relegated and 3 teams are promoted in the EPL)
matches["team"].value_counts()

team
Manchester City             269
Tottenham Hotspur           269
Everton                     269
Liverpool                   269
Manchester United           269
West Ham United             269
Chelsea                     269
Crystal Palace              269
Brighton and Hove Albion    269
Newcastle United            269
Arsenal                     269
Leicester City              231
Wolverhampton Wanderers     231
Southampton                 231
Burnley                     228
Aston Villa                 193
Bournemouth                 193
Fulham                      155
Watford                     152
Brentford                   117
Sheffield United            114
Leeds United                114
Nottingham Forest            79
Norwich City                 76
West Bromwich Albion         76
Huddersfield Town            76
Luton Town                   38
Cardiff City                 38
Swansea City                 38
Stoke City                   38
Ipswich Town                  3
Name: count, dtype: int64

In [151]:
matches["round"].value_counts()

round
Matchweek 1     160
Matchweek 3     160
Matchweek 2     160
Matchweek 34    140
Matchweek 28    140
Matchweek 23    140
Matchweek 24    140
Matchweek 25    140
Matchweek 18    140
Matchweek 26    140
Matchweek 27    140
Matchweek 30    140
Matchweek 37    140
Matchweek 22    140
Matchweek 32    140
Matchweek 33    140
Matchweek 29    140
Matchweek 35    140
Matchweek 36    140
Matchweek 31    140
Matchweek 21    140
Matchweek 20    140
Matchweek 10    140
Matchweek 4     140
Matchweek 5     140
Matchweek 6     140
Matchweek 7     140
Matchweek 8     140
Matchweek 9     140
Matchweek 11    140
Matchweek 19    140
Matchweek 12    140
Matchweek 13    140
Matchweek 14    140
Matchweek 15    140
Matchweek 16    140
Matchweek 17    140
Matchweek 38    140
Name: count, dtype: int64

In [152]:
matches.dtypes  # clean data to make it numeric

date              object
time              object
comp              object
round             object
day               object
venue             object
result            object
gf               float64
ga               float64
opponent          object
xg               float64
xga              float64
poss             float64
attendance       float64
captain           object
formation         object
opp formation     object
referee           object
match report      object
notes            float64
gls                int64
sh               float64
sot%             float64
g/sh             float64
g/sot            float64
sot              float64
dist             float64
fk               float64
pk                 int64
pkatt              int64
season             int64
team              object
dtype: object

In [153]:
matches["date"] = pd.to_datetime(matches["date"])  # convert column to a datetime

In [154]:
matches.dtypes

date             datetime64[ns]
time                     object
comp                     object
round                    object
day                      object
venue                    object
result                   object
gf                      float64
ga                      float64
opponent                 object
xg                      float64
xga                     float64
poss                    float64
attendance              float64
captain                  object
formation                object
opp formation            object
referee                  object
match report             object
notes                   float64
gls                       int64
sh                      float64
sot%                    float64
g/sh                    float64
g/sot                   float64
sot                     float64
dist                    float64
fk                      float64
pk                        int64
pkatt                     int64
season                    int64
team                     object
dtype: object

In [155]:
# convert the venue string into categories, then assign a unique number to each category
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [156]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes  # assign each opponent a unique number

In [157]:
matches['team_code'] = matches['team'].astype('category').cat.codes

In [ ]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")  # remove colon and mintues and convert hour to an integer

In [159]:
matches["day_code"] = matches["date"].dt.dayofweek  # assign a value for each day of the week

In [160]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,team_code,hour,day_code
1,2024-08-18,16:30,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,Chelsea,...,0.0,0,0,2025,Manchester City,0,7,17,16,6
2,2024-08-24,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,1.0,Ipswich Town,...,1.0,1,1,2025,Manchester City,1,12,17,15,5
3,2024-08-31,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,1.0,West Ham,...,1.0,0,0,2025,Manchester City,0,29,17,17,5
0,2024-08-17,12:30,Premier League,Matchweek 1,Sat,Away,W,2.0,0.0,Ipswich Town,...,0.0,0,0,2025,Liverpool,0,12,15,12,5
1,2024-08-25,16:30,Premier League,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,...,1.0,0,0,2025,Liverpool,1,3,15,16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2018-04-15,16:00,Premier League,Matchweek 34,Sun,Away,W,1.0,0.0,Manchester Utd,...,0.0,0,0,2018,West Bromwich Albion,0,18,28,16,6
39,2018-04-21,12:30,Premier League,Matchweek 35,Sat,Home,D,2.0,2.0,Liverpool,...,0.0,0,0,2018,West Bromwich Albion,1,15,28,12,5
40,2018-04-28,15:00,Premier League,Matchweek 36,Sat,Away,W,1.0,0.0,Newcastle Utd,...,0.0,0,0,2018,West Bromwich Albion,0,19,28,15,5
41,2018-05-05,15:00,Premier League,Matchweek 37,Sat,Home,W,1.0,0.0,Tottenham,...,0.0,0,0,2018,West Bromwich Albion,1,26,28,15,5
42,2018-05-13,15:00,Premier League,Matchweek 38,Sun,Away,L,0.0,2.0,Crystal Palace,...,1.0,0,0,2018,West Bromwich Albion,0,8,28,15,6

In [161]:
# Return a bolean and convert bolean into 0 and 1
matches["target"] = (matches["result"] == 'W').astype("int")  # win = True and loss/draw = False

In [162]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,pk,pkatt,season,team,venue_code,opp_code,team_code,hour,day_code,target
1,2024-08-18,16:30,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,Chelsea,...,0,0,2025,Manchester City,0,7,17,16,6,1
2,2024-08-24,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,1.0,Ipswich Town,...,1,1,2025,Manchester City,1,12,17,15,5,1
3,2024-08-31,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,1.0,West Ham,...,0,0,2025,Manchester City,0,29,17,17,5,1
0,2024-08-17,12:30,Premier League,Matchweek 1,Sat,Away,W,2.0,0.0,Ipswich Town,...,0,0,2025,Liverpool,0,12,15,12,5,1
1,2024-08-25,16:30,Premier League,Matchweek 2,Sun,Home,W,2.0,0.0,Brentford,...,0,0,2025,Liverpool,1,3,15,16,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2018-04-15,16:00,Premier League,Matchweek 34,Sun,Away,W,1.0,0.0,Manchester Utd,...,0,0,2018,West Bromwich Albion,0,18,28,16,6,1
39,2018-04-21,12:30,Premier League,Matchweek 35,Sat,Home,D,2.0,2.0,Liverpool,...,0,0,2018,West Bromwich Albion,1,15,28,12,5,0
40,2018-04-28,15:00,Premier League,Matchweek 36,Sat,Away,W,1.0,0.0,Newcastle Utd,...,0,0,2018,West Bromwich Albion,0,19,28,15,5,1
41,2018-05-05,15:00,Premier League,Matchweek 37,Sat,Home,W,1.0,0.0,Tottenham,...,0,0,2018,West Bromwich Albion,1,26,28,15,5,1
42,2018-05-13,15:00,Premier League,Matchweek 38,Sun,Away,L,0.0,2.0,Crystal Palace,...,0,0,2018,West Bromwich Albion,0,8,28,15,6,0

In [163]:
from sklearn.ensemble import RandomForestClassifier  # regression algorithm

In [164]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [165]:
train = matches[matches["date"] < '2023-05-26']

In [166]:
test = matches[matches["date"] > '2023-05-26']

In [167]:
predictors = ['team_code', "venue_code", "opp_code", "hour", "day_code"]

In [ ]:
rf.fit(train[predictors], train["target"])  # train a random forest model with the predictors

In [169]:
preds = rf.predict(test[predictors])

In [170]:
from sklearn.metrics import accuracy_score

In [171]:
acc = accuracy_score(test["target"], preds)  # pass in actuals and then predictions

In [172]:
acc

0.6214285714285714

In [173]:
combined = pd.DataFrame(dict(actual=test["target"], prediction=preds))  # check in which situations our accuracy was high vs. low

In [174]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction    0    1
actual
0           390  122
1           196  132

In [175]:
from sklearn.metrics import precision_score

In [176]:
precision_score(test['target'], preds)

0.5196850393700787

In [177]:
grouped_matches = matches.groupby("team")  # create one dataframe for every squad in our data

In [178]:
group = grouped_matches.get_group("Manchester City")

In [179]:
group

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,pk,pkatt,season,team,venue_code,opp_code,team_code,hour,day_code,target
1,2024-08-18,16:30,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,Chelsea,...,0,0,2025,Manchester City,0,7,17,16,6,1
2,2024-08-24,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,1.0,Ipswich Town,...,1,1,2025,Manchester City,1,12,17,15,5,1
3,2024-08-31,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,1.0,West Ham,...,0,0,2025,Manchester City,0,29,17,17,5,1
1,2023-08-11,20:00,Premier League,Matchweek 1,Fri,Away,W,3.0,0.0,Burnley,...,0,0,2024,Manchester City,0,5,17,20,4,1
3,2023-08-19,20:00,Premier League,Matchweek 2,Sat,Home,W,1.0,0.0,Newcastle Utd,...,0,0,2024,Manchester City,1,19,17,20,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2018-04-22,16:30,Premier League,Matchweek 35,Sun,Home,W,5.0,0.0,Swansea City,...,0,1,2018,Manchester City,1,25,17,16,6,1
53,2018-04-29,14:15,Premier League,Matchweek 36,Sun,Away,W,4.0,1.0,West Ham,...,0,0,2018,Manchester City,0,29,17,14,6,1
54,2018-05-06,13:30,Premier League,Matchweek 37,Sun,Home,D,0.0,0.0,Huddersfield,...,0,0,2018,Manchester City,1,11,17,13,6,0
55,2018-05-09,20:00,Premier League,Matchweek 31,Wed,Home,W,3.0,1.0,Brighton,...,0,0,2018,Manchester City,1,4,17,20,2,1
56,2018-05-13,15:00,Premier League,Matchweek 38,Sun,Away,W,1.0,0.0,Southampton,...,0,0,2018,Manchester City,0,23,17,15,6,1

In [180]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")  # sort in ascending order
    group = group.dropna(subset=new_cols)  # remove all rows with missing values 
    return group

In [181]:
cols = ['gf', 'ga', 'sh', 'sot', 'dist', 'fk', 'pk', 'pkatt', 'gls', 'sot%', 'g/sh', 'g/sot']
new_cols =  [f'{c}_rolling' for c in cols]

In [182]:
new_cols

['gf_rolling',
 'ga_rolling',
 'sh_rolling',
 'sot_rolling',
 'dist_rolling',
 'fk_rolling',
 'pk_rolling',
 'pkatt_rolling',
 'gls_rolling',
 'sot%_rolling',
 'g/sh_rolling',
 'g/sot_rolling']

In [183]:
rolling_averages(group, cols, new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,gls_rolling,sot%_rolling,g/sh_rolling,g/sot_rolling
3,2017-09-09,12:30,Premier League,Matchweek 4,Sat,Home,W,5.0,0.0,Liverpool,...,17.333333,6.000000,18.566667,1.333333,0.000000,0.000000,1.333333,34.100000,0.076667,0.223333
5,2017-09-16,15:00,Premier League,Matchweek 5,Sat,Away,W,6.0,0.0,Watford,...,17.000000,8.000000,16.733333,0.666667,0.000000,0.000000,2.666667,50.200000,0.180000,0.306667
7,2017-09-23,15:00,Premier League,Matchweek 6,Sat,Home,W,5.0,0.0,Crystal Palace,...,19.666667,9.000000,15.800000,0.333333,0.333333,0.333333,4.333333,50.766667,0.226667,0.436667
9,2017-09-30,17:30,Premier League,Matchweek 7,Sat,Away,W,1.0,0.0,Chelsea,...,21.666667,9.333333,14.900000,0.000000,0.333333,0.333333,5.333333,48.733333,0.256667,0.540000
10,2017-10-14,15:00,Premier League,Matchweek 8,Sat,Home,W,7.0,2.0,Stoke City,...,23.000000,7.666667,16.233333,0.333333,0.333333,0.333333,4.000000,32.900000,0.150000,0.440000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,2024-05-14,20:00,Premier League,Matchweek 34,Tue,Away,W,2.0,0.0,Tottenham,...,14.666667,7.666667,17.200000,0.333333,1.000000,1.000000,3.666667,51.466667,0.183333,0.360000
55,2024-05-19,16:00,Premier League,Matchweek 38,Sun,Home,W,3.0,1.0,West Ham,...,13.333333,7.333333,15.800000,0.000000,1.333333,1.333333,3.666667,55.333333,0.170000,0.310000
1,2024-08-18,16:30,Premier League,Matchweek 1,Sun,Away,W,2.0,0.0,Chelsea,...,16.666667,8.000000,16.666667,0.666667,0.666667,0.666667,3.000000,51.100000,0.150000,0.293333
2,2024-08-24,15:00,Premier League,Matchweek 2,Sat,Home,W,4.0,1.0,Ipswich Town,...,15.333333,7.000000,17.166667,0.666667,0.333333,0.333333,2.333333,48.500000,0.143333,0.300000
3,2024-08-31,17:30,Premier League,Matchweek 3,Sat,Away,W,3.0,1.0,West Ham,...,17.333333,7.000000,18.266667,1.000000,0.333333,0.333333,3.000000,39.733333,0.173333,0.466667

In [ ]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [185]:
matches_rolling = matches_rolling.droplevel('team')

In [186]:
matches_rolling.index = range(matches_rolling.shape[0])   # unique value for each index

In [187]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling,gls_rolling,sot%_rolling,g/sh_rolling,g/sot_rolling
0,2017-10-01,12:00,Premier League,Matchweek 7,Sun,Home,W,2.0,0.0,Brighton,...,14.333333,5.333333,17.400000,1.333333,0.333333,0.333333,1.666667,34.800000,0.083333,0.176667
1,2017-10-14,17:30,Premier League,Matchweek 8,Sat,Away,L,1.0,2.0,Watford,...,17.000000,5.000000,18.333333,1.666667,0.333333,0.333333,1.333333,27.833333,0.050000,0.150000
2,2017-10-22,13:30,Premier League,Matchweek 9,Sun,Away,W,5.0,2.0,Everton,...,16.333333,6.333333,19.366667,1.666667,0.333333,0.333333,1.666667,44.000000,0.086667,0.206667
3,2017-10-28,15:00,Premier League,Matchweek 10,Sat,Home,W,2.0,1.0,Swansea City,...,21.333333,9.333333,18.533333,1.333333,0.000000,0.000000,2.666667,48.466667,0.120000,0.260000
4,2017-11-05,14:15,Premier League,Matchweek 11,Sun,Away,L,1.0,3.0,Manchester City,...,18.666667,8.333333,17.866667,0.666667,0.000000,0.000000,2.666667,47.600000,0.133333,0.310000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4813,2024-05-11,15:00,Premier League,Matchweek 37,Sat,Home,L,1.0,3.0,Crystal Palace,...,10.000000,3.333333,15.966667,0.000000,0.000000,0.000000,1.000000,38.400000,0.216667,0.466667
4814,2024-05-19,16:00,Premier League,Matchweek 38,Sun,Away,L,0.0,2.0,Liverpool,...,9.666667,4.666667,14.133333,0.000000,0.000000,0.000000,1.333333,48.533333,0.240000,0.510000
4815,2024-08-17,15:00,Premier League,Matchweek 1,Sat,Away,L,0.0,2.0,Arsenal,...,6.666667,3.666667,14.200000,0.333333,0.000000,0.000000,0.666667,52.366667,0.190000,0.376667
4816,2024-08-25,14:00,Premier League,Matchweek 2,Sun,Home,L,2.0,6.0,Chelsea,...,9.000000,4.333333,17.633333,0.666667,0.000000,0.000000,0.333333,46.800000,0.023333,0.043333
4817,2024-08-31,15:00,Premier League,Matchweek 3,Sat,Away,D,1.0,1.0,Nott'ham Forest,...,8.333333,3.000000,19.133333,1.000000,0.000000,0.000000,0.666667,38.866667,0.056667,0.166667

In [188]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2023-05-26']
    test = data[data['date'] > '2023-05-26']
    rf.fit(train[predictors], train['target'])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test['target'], predicted=preds), index=test.index)
    precision = precision_score(test['target'], preds)
    return combined, precision

In [189]:
combined, precision = make_predictions(matches_rolling, predictors + new_cols)

In [190]:
precision  # imporved precision score

0.56

In [191]:
combined

      actual  predicted
209        1          0
210        1          0
211        1          0
212        0          1
213        1          1
...      ...        ...
4813       0          0
4814       0          0
4815       0          0
4816       0          0
4817       0          0

[806 rows x 2 columns]

In [192]:
combined = combined.merge(matches_rolling[['date', 'team', 'opponent', 'result']], left_index=True, right_index=True)

In [193]:
combined

,actual,predicted,date,team,opponent,result
209,1,0,2023-05-28,Arsenal,Wolves,W
210,1,0,2023-08-12,Arsenal,Nott'ham Forest,W
211,1,0,2023-08-21,Arsenal,Crystal Palace,W
212,0,1,2023-08-26,Arsenal,Fulham,D
213,1,1,2023-09-03,Arsenal,Manchester Utd,W
...,...,...,...,...,...,...
4813,0,0,2024-05-11,Wolverhampton Wanderers,Crystal Palace,L
4814,0,0,2024-05-19,Wolverhampton Wanderers,Liverpool,L
4815,0,0,2024-08-17,Wolverhampton Wanderers,Arsenal,L
4816,0,0,2024-08-25,Wolverhampton Wanderers,Chelsea,L
4817,0,0,2024-08-31,Wolverhampton Wanderers,Nott'ham Forest,D

In [194]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {
    "Brighton and Hove Albion": "Brighton",
    "Manchester United": "Manchester Utd",
    "Newcastle United": "Newcastle Utd",
    "Tottenham Hotspur": "Tottenham",
    "West Ham United": "West Ham",
    "Wolverhampton Wanderers": "Wolves"
}

mapping = MissingDict(**map_values)

In [195]:
mapping['West Ham United']

'West Ham'

In [196]:
combined["new_team"] = combined["team"].map(mapping)

In [197]:
combined

,actual,predicted,date,team,opponent,result,new_team
209,1,0,2023-05-28,Arsenal,Wolves,W,Arsenal
210,1,0,2023-08-12,Arsenal,Nott'ham Forest,W,Arsenal
211,1,0,2023-08-21,Arsenal,Crystal Palace,W,Arsenal
212,0,1,2023-08-26,Arsenal,Fulham,D,Arsenal
213,1,1,2023-09-03,Arsenal,Manchester Utd,W,Arsenal
...,...,...,...,...,...,...,...
4813,0,0,2024-05-11,Wolverhampton Wanderers,Crystal Palace,L,Wolves
4814,0,0,2024-05-19,Wolverhampton Wanderers,Liverpool,L,Wolves
4815,0,0,2024-08-17,Wolverhampton Wanderers,Arsenal,L,Wolves
4816,0,0,2024-08-25,Wolverhampton Wanderers,Chelsea,L,Wolves
4817,0,0,2024-08-31,Wolverhampton Wanderers,Nott'ham Forest,D,Wolves

In [198]:
merged = combined.merge(combined, left_on=['date', 'new_team'], right_on=['date', 'opponent'])

In [199]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,1,0,2023-08-12,Arsenal,Nott'ham Forest,W,Arsenal,0,0,Nottingham Forest,Arsenal,L,Nottingham Forest
1,1,0,2023-08-21,Arsenal,Crystal Palace,W,Arsenal,0,0,Crystal Palace,Arsenal,L,Crystal Palace
2,0,1,2023-08-26,Arsenal,Fulham,D,Arsenal,0,0,Fulham,Arsenal,D,Fulham
3,1,1,2023-09-03,Arsenal,Manchester Utd,W,Arsenal,0,1,Manchester United,Arsenal,L,Manchester Utd
4,1,1,2023-09-17,Arsenal,Everton,W,Arsenal,0,0,Everton,Arsenal,L,Everton
...,...,...,...,...,...,...,...,...,...,...,...,...,...
694,0,0,2024-05-11,Wolverhampton Wanderers,Crystal Palace,L,Wolves,1,0,Crystal Palace,Wolves,W,Crystal Palace
695,0,0,2024-05-19,Wolverhampton Wanderers,Liverpool,L,Wolves,1,1,Liverpool,Wolves,W,Liverpool
696,0,0,2024-08-17,Wolverhampton Wanderers,Arsenal,L,Wolves,1,1,Arsenal,Wolves,W,Arsenal
697,0,0,2024-08-25,Wolverhampton Wanderers,Chelsea,L,Wolves,1,0,Chelsea,Wolves,W,Chelsea
698,0,0,2024-08-31,Wolverhampton Wanderers,Nott'ham Forest,D,Wolves,0,0,Nottingham Forest,Wolves,D,Nottingham Forest

In [200]:
merged[(merged['predicted_x'] == 1) & (merged['predicted_y'] == 0)]['actual_x'].value_counts()

actual_x
1    111
0     72
Name: count, dtype: int64

In [ ]:
# Project inspired by a dataquest tutorial